<% include partials/header %>
<div class="ui main text container segment">
	<div class="ui huge header" id="dase2">BOOKS</div>
	
	<% for(var i=0;i<booklist.length;i++ ){  %>
	<li> <a href="/books/<%= userlist[i] %>" > <%=booklist[i]%> </a> </li>
	<%};%> 


	

</div>

<% include partials/footer %>