<% include partials/header3 %>

<div class="ui main text container segment " id="dase1">
    <div class="ui huge header">Admin Login</div>
    <form class="ui form" action="/books/login" method="POST">
    	<div class="field">
            <label>Name</label>
            <input type="text" name="name" placeholder="name">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="password">
        </div>
         <input class="ui violet big basic button" type="submit">








<% include partials/footer %>